{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe - La Boutique Francaise{% endblock %}

{% block content %}
<hr>
<h1>Modifier mot de passe</h1>
<a href="{{path('account')}}">back</a> 
<hr>
{% if notification %}
	<div class="alert alert-info">{{notification}}</div>
{% endif %}
{{form(form)}}
<hr>
{% endblock %}
